<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd"> -->
<!-- <Configuration status="ALL">
	<Appenders>
		Async Loggers will auto-flush in batches, so switch off immediateFlush.
		<RollingRandomAccessFile name="DailyRollingRandomAccessFile"
			fileName="logs/async.log" immediateFlush="false" append="false"
			filePattern="logs/app-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p [%c:%L] - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24" />
				<SizeBasedTriggeringPolicy size="10 MB" />
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="ALL" includeLocation="false">
			<AppenderRef ref="DailyRollingRandomAccessFile" level="ALL"/>
			<AppenderRef ref="Console" level="ALL"/>
		</Root>
	</Loggers>
</Configuration>
 -->
 
 <Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <!-- <Logger name="org.apache." level="info"/> -->
    <Root level="debug">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>